{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resume Matcher</title>

  
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <script src="https://use.fontawesome.com/968d5ffcf8.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" type="text/css" href='https://cdnjs.cloudflare.com/ajax/libs/imagehover.css/2.0.0/css/imagehover.min.css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  </head>

</head>

<body>

  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="home">Resume<span>Matcher</span></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="btn-trial"><a href="logout">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Navigation bar-->
<!--Pricing-->
<section id="pricing" class="section-padding">
  <div class="container">
    <div class="row">
      <center><h3>Application</h3></center>
      <ul style="padding-left: 40%;  list-style-type: circle;">
        <li >Step 1 : Choose Your Resume</li>
        <li>Step 2 : Paste Your Job Description</li>
        <li>Step 3: Click on Process to get Result</li>
      </ul>
      </div>
    </div>
  </div>
</section>
  
<section  class="section-padding">
  <div class="container">
    <div class="row">
      <form class="mc-trial row" action="Application" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
          <div class="form-group col-md-3 col-sm-4" >
            <label for="exampleFormControlFile1"></label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="document" required>
            
          </div>
          <div class="form-group col-md-5 col-sm-4">
            <label for="comment">Job Description:</label>
            <textarea style="resize: none;" class="form-control" rows="5" name="jdbox" id="comment" placeholder="Paste Your Job Description Here" required></textarea>
          </div>
          <div class="col-md-4 col-sm-5" style="padding-top: 55px;padding-left: 55px ">
            <p>
              <button name="submit" type="submit" class="btn btn-block btn-submit">
           
              Process <i class="fa fa-arrow-right"></i></button>
            </p>
          </div>
      </form>
    
      </div>
    </div>
    
</section>
<center><div class="col-md-8 col-sm-5" style="padding-left: 30%;">
  <h4 style="color:red;"> Missing Keywords :</h4>
  <h4 style="color: red;"> {{data}}</h4>
</div></center>


     

      
              
    
       
        
      
 



 
  


  <script src="{% static 'js/jquery.min.js'%}"></script>
  <script src="{% static 'js/jquery.easing.min.js'%}"></script>
  <script src="{% static 'js/bootstrap.min.js'%}"></script>
  <script src="{% static 'js/custom.js'%}"></script>
  <script src="{% static 'contactform/contactform.js'%}"></script>
</body>

</html>